<div class="nav-link-container">
    <div class="nav-link">
        <a id="link-desktop-home" href="/index.html">Home</a>
    </div>
    <div class="nav-link">
        <a id="link-desktop-about" href="/about.html">About</a>
    </div>
    <div class="nav-link">
        <a id="link-desktop-school" href="/school/gd3.html">School Projects</a>
    </div>
    <div class="nav-link">
        <a id="link-desktop-perso" href="/persoprojects.html">Personal Projects</a>
    </div>
    <div class="nav-link">
        <a id="link-desktop-pro" href="/proprojects.html">Professional Projects</a>
    </div>
    <div class="nav-link">
        <a id="link-desktop-resume" href="/misc/EnglishResume.pdf" target="_blank">Resume</a>
    </div>
</div>