<div id="mobile-navbar">
    <div class="nav-link-mobile" >
        <a id="link-home" href="/index.html">Home</a>
    </div>
    <div class="nav-link-mobile">
        <a id="link-about" href="/about.html">About</a>
    </div>
    <div class="nav-link-mobile">
        <a id="link-school" href="/school/gd3.html">School Projects</a>
    </div>
    <div class="nav-link-mobile">
        <a id="link-perso" href="/persoprojects.html">Personal Projects</a>
    </div>
    <div class="nav-link-mobile">
        <a id="link-pro" href="/proprojects.html">Professional Projects</a>
    </div>
    <div class="nav-link-mobile">
        <a id="link-resume" href="/misc/EnglishResume.pdf" target="_blank">Resume</a>
    </div>
</div>